# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
ios/
android/

# env & secrets
.env
.env*.local
credentials/
*.keystore
*.jks
play-service-account.json
*.mobileprovision
*.p8
*.p12

# fastlane
fastlane/report.xml
fastlane/README.md
fastlane/test_output/
*.ipa
*.aab

# misc
*.log
.DS_Store
coverage/
